#scroller * {
  overflow-anchor: none;
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
}

p code {
  border-radius: 3px;
}

.bot-message p code {
  background-color: aliceblue;
}

.bot-message p code {
  background-color: cornflowerblue;
}
